In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import shutil
from datetime import datetime, timedelta
pd.set_option('display.max_columns', None)

#  uploading all the dataset

### DIVISION DATA

In [2]:
# DIVISION DATA


DIVISION_MASTER_TABLE =pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\DIVISION DATA\DIVISION_MASTER.CSV")
print("DIVISION_MASTER_TABLE data is done")
DIVISION_DATA =  pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\DIVISION DATA\Division Master table.xlsx")
DIVISION_DATA.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_division_data\DIVISION_DATA.csv",index=False)
DIVISION_DATA=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_division_data\DIVISION_DATA.csv")


print('DIVISION_DATA FILE LOADING IS DONE')

DIVISION_MASTER_TABLE data is done
DIVISION_DATA FILE LOADING IS DONE

### COMPILED METER STATUS

In [ ]:


# COMPILED METER DATA

COMPILED_METER_2021=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPILED_METER_2021.csv")
COMPLIED_METER_2022=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2022.csv")
COMPLIED_METER_2023=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2023.csv")
COMPLIED_METER_2024=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_data_compliation\COMPLIED_METER_2024.csv")


#----------------------------------------------------------------------------------------------------------------------------------

# MERGE DATA


# compiled data
ALL_DATA_COMPILATION_MERGE_2023 = pd.concat([COMPILED_METER_2021, COMPLIED_METER_2022,COMPLIED_METER_2023], ignore_index=True)
print("Merge 2021,2022,2023")
# DATA COMPILATION MERGE

ALL_DATA_COMPILATION_MERGE = pd.concat([ALL_DATA_COMPILATION_MERGE_2023,COMPLIED_METER_2024], ignore_index=True)
print("merge all data and 2024 data")

print(f"**********************Shape of compilation data is : {ALL_DATA_COMPILATION_MERGE.shape} ")

# changes in dataset like :- UPPER, SPACE REMOVAL , DATATYPE

ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.astype(str)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.upper()
ALL_DATA_COMPILATION_MERGE = ALL_DATA_COMPILATION_MERGE.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
ALL_DATA_COMPILATION_MERGE.columns = ALL_DATA_COMPILATION_MERGE.columns.str.strip()


# CONVERT INTO DATETIME, SORT VALUES AND DROP DUPLICATES
ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE['REPLACEMENT DATE'])
ALL_DATA_COMPILATION_MERGE.sort_values(by=['REPLACEMENT DATE'],ascending=False,inplace= True)

print("short the complilation data on the basis of replacement date")
# drop duplicate keep first , other drop

ALL_DATA_COMPILATION_MERGE.drop_duplicates(subset=['NEW METER NO'], keep='first', inplace=True, ignore_index=True)

print("drop duplictes")

print(f"Shape of compilation data is : {ALL_DATA_COMPILATION_MERGE.shape} ")

In [88]:
# this should be null

ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE.duplicated(subset=['NEW METER NO'],keep=False)].sort_values(by=['NEW METER NO','REPLACEMENT DATE'],ascending=[True,False]).head(10)

Empty DataFrame
Columns: [SL, SECTION ID, CLUSTER, CATEGORY, WO STATUS, WORK ORDER TYPE, NEW METER NO, CONSUMER ID, INSTALLATION_NUMBER, NAME, ADDRESS, MOBILE NUMBER, UTILITY NAME, REPLACEMENT DATE, MRU, LAT, LONG, CATEGORY NAME, PHASE, TOWN, VENDOR NAME, SECTION, DIVISION, STATUS, VENDOR_MANAGER, VENDOR_PLANNER, DUPLICATE, SECTION_ID, FULL_METER_NUMBER]
Index: []

In [ ]:

# Custom function to update meter numbers

def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
ALL_DATA_COMPILATION_MERGE['FULL_METER_NUMBER'] = ALL_DATA_COMPILATION_MERGE['NEW METER NO'].apply(update_meter_number)

In [ ]:
# convert into upper char

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].str.upper()
print("DIVISION NAME ARE CONVERTED INTO UPPER STRING")



# change the division_name old name to new name

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ARA'], 'ARRAH')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ARRAH'], 'ARRAH')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHABUA'], 'BHABHUA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BIHARSHARIF'], 'BIHARSARIF')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(E)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(EAST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(W)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA(WEST)'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MAHARAJGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MIRGANJ'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['SONPUR'], 'CHAPRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['CHAPRA'], 'CHAPRA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANGA(R)'], 'DARBHANGA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DARBHANGA'], 'DARBHANGA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DEHRI'], 'DEHRIONSONE')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GAYA(R)'], 'GAYA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GAYA(U)'], 'GAYA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['GOPALGUNJ'], 'GOPALGANJ')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['HAZIPUR'], 'HAJIPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['JEHANABAD'], 'JAHANABAD')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MASAURI'], 'MASAURHI')

ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['NAWADAH'], 'NAWADA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PESU WEST'], 'DANAPUR')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PIRO'], 'SASARAM')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA (EAST)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA(E)'], 'PURNEA')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['PURNEA(W)'], 'PURNEA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['ROHTAS'], 'SASARAM')



ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['KHEMICHAK'], 'PATNA')


ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['DHAKA'], 'DHAKA')

#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA') 


print(" REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE")

### PRIVILAGE DATA

In [78]:
# PRIVILAGE DATA


Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Orgwise_Privilege_group_status_SB.csv")
Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Orgwise_Privilege_group_status_NB.csv")


# concat data  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB = pd.concat([Orgwise_Privilege_group_status_SB,Orgwise_Privilege_group_status_NB],ignore_index=True)

# dop duplicate in  concat_Orgwise_Privilege_group_status_NB_SB
concat_Orgwise_Privilege_group_status_NB_SB.drop_duplicates(subset=['METERNO'], keep='first', inplace=True, ignore_index=True)

concat_Orgwise_Privilege_group_status_NB_SB.shape

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\4236272132.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  Orgwise_Privilege_group_status_SB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Orgwise_Privilege_group_status_SB.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\4236272132.py:5: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  Orgwise_Privilege_group_status_NB=pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Orgwise_Privilege_group_status_NB.csv")

(1611059, 14)

In [79]:
# upper letter
concat_Orgwise_Privilege_group_status_NB_SB.columns = concat_Orgwise_Privilege_group_status_NB_SB.columns.str.upper()


# Remove leading and trailing whitespaces from all columns where dtype is 'O'
concat_Orgwise_Privilege_group_status_NB_SB = concat_Orgwise_Privilege_group_status_NB_SB.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)

In [86]:
# convert into upper char

concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].str.upper()
print("DIVISION NAME ARE CONVERTED INTO UPPER STRING")



# change the division_name old name to new name

concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['ARA'], 'ARRAH')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['ARRAH'], 'ARRAH')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BHABUA'], 'BHABHUA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BIHARSHARIF'], 'BIHARSARIF')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['CHAPRA(E)'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['CHAPRA(EAST)'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['CHAPRA(W)'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['CHAPRA(WEST)'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MAHARAJGANJ'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MIRGANJ'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['SONPUR'], 'CHAPRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['CHAPRA'], 'CHAPRA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DARBHANGA(R)'], 'DARBHANGA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DARBHANGA'], 'DARBHANGA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DEHRI'], 'DEHRIONSONE')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['GAYA(R)'], 'GAYA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['GAYA(U)'], 'GAYA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['GOPALGUNJ'], 'GOPALGANJ')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['HAZIPUR'], 'HAJIPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['JEHANABAD'], 'JAHANABAD')

concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MASAURI'], 'MASAURHI')

concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['NAWADAH'], 'NAWADA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PESU WEST'], 'DANAPUR')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PIRO'], 'SASARAM')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PURNEA (EAST)'], 'PURNEA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PURNEA(E)'], 'PURNEA')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['PURNEA(W)'], 'PURNEA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['ROHTAS'], 'SASARAM')



concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['KHEMICHAK'], 'PATNA')


concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['DHAKA'], 'DHAKA')

#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'] = concat_Orgwise_Privilege_group_status_NB_SB['DIVISION'].replace(['BAGAHA'], 'BAGHA') 


print(" REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE")

DIVISION NAME ARE CONVERTED INTO UPPER STRING
 REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE

### METER STATUS FILE

In [3]:
# DIVISION  WISE METER STATUS FILE


Division_wise_Meter_Status = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Division_wise_Meter_Status.csv")



Division_wise_Meter_Status['LASTUPDTIME'] = pd.to_datetime(Division_wise_Meter_Status['LASTUPDTIME'])

# sort on the LASTUPDTIME column
Division_wise_Meter_Status.sort_values(by=['LASTUPDTIME'],ascending=False,inplace= True)

print("short the Division_wise_Meter_Status data on the basis of LASTUPDTIME date")
# drop duplicate keep first , other drop

Division_wise_Meter_Status.drop_duplicates(subset=['METER_NUMBER'], keep='first', inplace=True, ignore_index=True)

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\1409649180.py:4: DtypeWarning: Columns (3,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  Division_wise_Meter_Status = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Division_wise_Meter_Status.csv")
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\1409649180.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Division_wise_Meter_Status['LASTUPDTIME'] = pd.to_datetime(Division_wise_Meter_Status['LASTUPDTIME'])

short the Division_wise_Meter_Status data on the basis of LASTUPDTIME date

In [55]:
# convert into upper char

Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].str.upper()
print("DIVISION NAME ARE CONVERTED INTO UPPER STRING")



# change the division_name old name to new name

Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BAGAHA'], 'BAGHA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['ARA'], 'ARRAH')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['ARRAH'], 'ARRAH')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BHABUA'], 'BHABHUA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BIHARSHARIF'], 'BIHARSARIF')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['CHAPRA(E)'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['CHAPRA(EAST)'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['CHAPRA(W)'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['CHAPRA(WEST)'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MAHARAJGANJ'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MIRGANJ'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['SONPUR'], 'CHAPRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['CHAPRA'], 'CHAPRA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DARBHANGA(R)'], 'DARBHANGA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DARBHANGA'], 'DARBHANGA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DEHRI'], 'DEHRIONSONE')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['GAYA(R)'], 'GAYA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['GAYA(U)'], 'GAYA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['GOPALGUNJ'], 'GOPALGANJ')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['HAZIPUR'], 'HAJIPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['JEHANABAD'], 'JAHANABAD')

Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MASAURI'], 'MASAURHI')

Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['NAWADAH'], 'NAWADA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PESU WEST'], 'DANAPUR')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PIRO'], 'SASARAM')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PURNEA (EAST)'], 'PURNEA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PURNEA(E)'], 'PURNEA')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['PURNEA(W)'], 'PURNEA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['ROHTAS'], 'SASARAM')



Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['KHEMICHAK'], 'PATNA')


Division_wise_Meter_Status['DIVISION'] = Division_wise_Meter_Status['DIVISION'].replace(['DHAKA'], 'DHAKA')

#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA') 


print(" REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE")

DIVISION NAME ARE CONVERTED INTO UPPER STRING
 REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE

### METER REPLACEMENT FILE

In [25]:
#METER REPLACEMENT FILE

Meter_Replacement = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Division_wise_Meter_Replacement_and_New_Connection.csv")

# sort value
Meter_Replacement.sort_values(by = ['SDP_UDC_ID'],ascending=False,inplace=True)

# remove duplicate
Meter_Replacement.drop_duplicates(subset=['SDP_UDC_ID'], keep='first',inplace=True,  ignore_index=True)

In [50]:
# convert into upper char

Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].str.upper()
print("DIVISION NAME ARE CONVERTED INTO UPPER STRING")



# change the division_name old name to new name

Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BAGAHA'], 'BAGHA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['ARA'], 'ARRAH')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['ARRAH'], 'ARRAH')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BHABUA'], 'BHABHUA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BHAGALPUR(E)'], 'BHAGALPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BHAGALPUR(U)'], 'BHAGALPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BHAGALPUR(URBAN)'], 'BHAGALPUR')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BIHARSHARIF'], 'BIHARSARIF')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['BIHARSHARIFF'], 'BIHARSARIF')



Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['CHAPRA(E)'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['CHAPRA(EAST)'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['CHAPRA(W)'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['CHAPRA(WEST)'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MAHARAJGANJ'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MIRGANJ'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['SONPUR'], 'CHAPRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['CHAPRA'], 'CHAPRA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DARBHANAGA(U)'], 'DARBHANGA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DARBHANGA(R)'], 'DARBHANGA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DARBHANGA'], 'DARBHANGA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DALSINGHSARAI'], 'DALSINGSARAI')

Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DEHRI'], 'DEHRIONSONE')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DEHRIONSONE'], 'DEHRIONSONE')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['EAST CHAMPARAN'], 'MOTIHARI')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['GAYA(R)'], 'GAYA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['GAYA(U)'], 'GAYA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['GOPALGUNJ'], 'GOPALGANJ')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['HAZIPUR'], 'HAJIPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['JEHANABAD'], 'JAHANABAD')

Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MASAURI'], 'MASAURHI')

Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MUZAFFARPUR(E)'], 'MUZAFFARPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MUZAFFARPUR(U-I)'], 'MUZAFFARPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MUZAFFARPUR(U-II)'], 'MUZAFFARPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['MUZAFFARPUR(W)'], 'MUZAFFARPUR')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['NAUGACHHIYA'], 'NAUGACHIA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['NAWADAH'], 'NAWADA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PATLIPUTRA'], 'PATALIPUTRA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PESU WEST'], 'DANAPUR')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PIRO'], 'SASARAM')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PURNEA (EAST)'], 'PURNEA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PURNEA(E)'], 'PURNEA')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['PURNEA(W)'], 'PURNEA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['ROHTAS'], 'SASARAM')



Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['EAST CHAMPARAN'], 'MOTIHARI')
Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['WEST CHAMPARAN'], 'MOTIHARI')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['KHEMICHAK'], 'PATNA')


Meter_Replacement['DIVISION_NAME'] = Meter_Replacement['DIVISION_NAME'].replace(['DHAKA'], 'DHAKA')

#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA')
#ALL_DATA_COMPILATION_MERGE['DIVISION'] = ALL_DATA_COMPILATION_MERGE['DIVISION'].replace(['BAGAHA'], 'BAGHA') 


print(" REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE")

DIVISION NAME ARE CONVERTED INTO UPPER STRING
 REPLACE NAME OF DIVISION FROM THE OLDER TO NEWER ONE

### INFRA FILE

In [39]:
Infrastructure_Devices_NB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Infrastructure_Devices_NB.csv", sep = ';')
Infrastructure_Devices_SB = pd.read_csv(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\INPUT DATA\Infrastructure_Devices_SB.csv", sep = ';')


# drop unwanted column
Infrastructure_Devices_NB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)
Infrastructure_Devices_SB.drop(columns=['Unnamed: 13'],axis=1,inplace=True)


# Merge both table
COMPILE_INFRA_DATA_NB_SB = pd.concat([Infrastructure_Devices_NB, Infrastructure_Devices_SB], ignore_index=True)

In [45]:

# Custom function to update meter numbers
def update_meter_number(meter_number):
    if meter_number.startswith('GP') or meter_number.startswith('GL'):
        return 'GOE' + meter_number
    elif meter_number.startswith('LT'):
        return 'LNT' + meter_number
    else:
        return meter_number

# Apply the custom function to each element in the 'METER NO.' column
COMPILE_INFRA_DATA_NB_SB['FULL_METER_NUMBER_INFRA'] = COMPILE_INFRA_DATA_NB_SB['SerialNumber'].apply(update_meter_number)

In [46]:
# change to datetime format

COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'])
COMPILE_INFRA_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['EntryDatetime'])
COMPILE_INFRA_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS05'])
COMPILE_INFRA_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS02'])
COMPILE_INFRA_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS04'])

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\3279055606.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['InstallationDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\3279055606.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['EntryDatetime'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['EntryDatetime'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\3279055606.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS05'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS05'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\3279055606.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS02'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS02'])
C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\3279055606.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  COMPILE_INFRA_DATA_NB_SB['LastS04'] = pd.to_datetime(COMPILE_INFRA_DATA_NB_SB['LastS04'])

In [63]:
print(f"COMPILE_INFRA_DATA_NB_SB data shape before removing the duplicates :{COMPILE_INFRA_DATA_NB_SB.shape}")


# remove duplicate
COMPILE_INFRA_DATA_NB_SB.drop_duplicates(subset=['SerialNumber'], keep='first',inplace=True, ignore_index=True)


print(f"COMPILE_INFRA_DATA_NB_SB data shape after removing the duplicates :{COMPILE_INFRA_DATA_NB_SB.shape}")

In [70]:
## MERGE FOR DIVISION

MERGE_INFRA_DATA_COMPILE_DATA = pd.merge(COMPILE_INFRA_DATA_NB_SB, ALL_DATA_COMPILATION_MERGE[['DIVISION','CATEGORY NAME','FULL_METER_NUMBER']],left_on=['FULL_METER_NUMBER_INFRA'],right_on=['FULL_METER_NUMBER'],how='left')


# AFTER MAPPING OF DIVISION,  SEGGREGATE NULL AND NOT NULL ROWS

MERGE_INFRA_DATA_COMPILE_DATA_WITH_NULL_ROWS     =  MERGE_INFRA_DATA_COMPILE_DATA[MERGE_INFRA_DATA_COMPILE_DATA['DIVISION'].isnull()]
MERGE_INFRA_DATA_COMPILE_DATA_WITH_NOT_NULL_ROWS =  MERGE_INFRA_DATA_COMPILE_DATA[~MERGE_INFRA_DATA_COMPILE_DATA['DIVISION'].isnull()]


#  DROP COLUMN FROM DATA ['DIVISION','CATEGORY NAME','FULL_METER_NUMBER'  ] WHERE ROWS ARE NULL

MERGE_INFRA_DATA_COMPILE_DATA_WITH_NULL_ROWS.drop(['DIVISION','CATEGORY NAME','FULL_METER_NUMBER'],axis=1, inplace=True)



# merge INFRA_COMPILE DATA and privilege for division and category

MERGE_INFRA_COMPILE_NULL_ROW_WITH_PRIVILEGE_DATA = pd.merge(MERGE_INFRA_DATA_COMPILE_DATA_WITH_NULL_ROWS, concat_Orgwise_Privilege_group_status_NB_SB[['DIVISION','CATEGORY','METERNO']], left_on=['FULL_METER_NUMBER_INFRA'], right_on=['METERNO'], how='left')


# RENAME

MERGE_INFRA_COMPILE_NULL_ROW_WITH_PRIVILEGE_DATA.rename(
    columns={"DIVISION": "DIVISION", "CATEGORY": "CATEGORY NAME", "METERNO": "FULL_METER_NUMBER"},
    inplace=True
)

# FINAL INFRA DATA WITH DIVISION
FINAL_INFRA_NB_SB_DATA = pd.concat([MERGE_INFRA_DATA_COMPILE_DATA_WITH_NOT_NULL_ROWS, MERGE_INFRA_COMPILE_NULL_ROW_WITH_PRIVILEGE_DATA], ignore_index=True)

# DATA CLEANING START

## working on division dataset

In [6]:
#change the name of column and drop the column

DIVISION_MASTER_TABLE.drop(columns=['Unnamed: 0'], inplace=True)
DIVISION_MASTER_TABLE.rename(columns={"Division_new_check": "Divsion col"},inplace=True)

#----------------------------------------------------------------------------------------------------------------------------------------------------------------

# Upper the string

DIVISION_MASTER_TABLE['Divsion col'] =  DIVISION_MASTER_TABLE['Divsion col'].str.upper()
DIVISION_DATA['Division'] =  DIVISION_DATA['Division'].str.upper()
DIVISION_DATA['Division_new'] =  DIVISION_DATA['Division_new'].str.upper()

print("change in upper string")


#----------------------------------------------------------------------------------------------------------------------------------------------------------------

# merge the file to get the unique record

After_merge_check_data = pd.merge(DIVISION_MASTER_TABLE['Divsion col'],DIVISION_DATA['Division'],left_on=['Divsion col'],right_on=['Division'], how = 'left')

print("Merge done for DIVISION_MASTER_TABLE  &  WEEKLY_REPORT")

print(f"Total shape of divison master  data is :  {After_merge_check_data['Division'].unique().shape[0]}")

change in upper string
Merge done for DIVISION_MASTER_TABLE  &  WEEKLY_REPORT
Total shape of divison master  data is :  82

## USE MASTER_DIVISION_LIST_DATA  for division

In [7]:
MASTER_DIVISION_LIST_DATA = After_merge_check_data

MASTER_DIVISION_LIST_DATA.drop_duplicates(subset=['Divsion col'], keep='first', inplace=True, ignore_index=True)
MASTER_DIVISION_LIST_DATA.drop_duplicates(subset=['Division'], keep='first', inplace=True, ignore_index=True)
MASTER_DIVISION_LIST_DATA.drop(columns=['Divsion col'],axis=1,inplace= True)
# column rename

MASTER_DIVISION_LIST_DATA.rename(columns={'Division':'Division_Data'},inplace=True)
MASTER_DIVISION_LIST_DATA['Division_Data'].unique().shape[0]

82

In [8]:
MASTER_DIVISION_LIST_DATA

   Division_Data
0        BETTIAH
1       MOTIHARI
2      SHERGHATI
3           GAYA
4           BARH
..           ...
77      JAINAGAR
78         PUPRI
79       BENIPUR
80         DHAKA
81        BARSOI

[82 rows x 1 columns]

In [9]:
# DIVISION_MASTER_DATA_ALL THIS FILE HAS - SECTION ID, UTILITY, DIVISION NAME 
DIVISION_MASTER_DATA_ALL =  pd.read_excel(r"C:\Users\Ratan Kumar Jha\Desktop\Daily progress report\METER_REPLACEMENT_STATUS\DIVISION DATA\DIVISION_MASTER_DATA_ALL.xlsx")
DIVISION_MASTER_DATA_ALL.to_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_division_data\DIVISION_MASTER_DATA_ALL.csv",index=False)
DIVISION_MASTER_DATA_ALL=pd.read_csv(r"C:\PYTHON\EDF_CODE_AUTOMATION_PYTHON\DAILY-PROGRESS-REPORT_DPR-\output_folder_division_data\DIVISION_MASTER_DATA_ALL.csv")




DIVISION_MASTER_DATA_ALL.head()

DIVISION_MASTER_DATA_ALL = DIVISION_MASTER_DATA_ALL.astype(str)
DIVISION_MASTER_DATA_ALL.columns = DIVISION_MASTER_DATA_ALL.columns.str.upper()
DIVISION_MASTER_DATA_ALL = DIVISION_MASTER_DATA_ALL.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)
DIVISION_MASTER_DATA_ALL.columns = DIVISION_MASTER_DATA_ALL.columns.str.strip()


# change into upper string
DIVISION_MASTER_DATA_ALL['DIVISION'] = DIVISION_MASTER_DATA_ALL['DIVISION'].str.upper()
DIVISION_MASTER_DATA_ALL['SEC_ID'] = DIVISION_MASTER_DATA_ALL['SEC_ID'].str.upper()
DIVISION_MASTER_DATA_ALL['UTILITY_ID'] = DIVISION_MASTER_DATA_ALL['UTILITY_ID'].str.upper()


# ASCENDING ORDER
DIVISION_MASTER_DATA_ALL.sort_values(by=['DIVISION'],ascending=True,inplace= True)

# FILE TRANSFORMATION ............

In [15]:
ALL_DATA_COMPILATION_MERGE['WORK ORDER TYPE'].unique()

array(['SSR', 'New Meter Installation', 'Meter Replacement'], dtype=object)

In [16]:
#ALL_DATA_COMPILATION_MERGE['WORK ORDER TYPE'].unique()
print(f"shape of ALL_DATA_COMPILATION_MERGE data before removing SSR : {ALL_DATA_COMPILATION_MERGE.shape}")

ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR=ALL_DATA_COMPILATION_MERGE[ALL_DATA_COMPILATION_MERGE['WORK ORDER TYPE'] != 'SSR']

print(f"shape of ALL_DATA_COMPILATION_MERGE data AFTER removing SSR : {ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR.shape}")

shape of ALL_DATA_COMPILATION_MERGE data before removing SSR : (1708211, 29)
shape of ALL_DATA_COMPILATION_MERGE data AFTER removing SSR : (1566061, 29)

# 1

In [17]:
MI_COMPLETE = ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR.groupby('DIVISION')['FULL_METER_NUMBER'].count()

METER_INSTALLATION_STATUS_FILE = pd.merge(MASTER_DIVISION_LIST_DATA,MI_COMPLETE,left_on=['Division_Data'],right_on=['DIVISION'],how='left')



METER_INSTALLATION_STATUS_FILE.rename(columns={'FULL_METER_NUMBER':'MI COMPLETED'},inplace=True)

In [18]:
METER_INSTALLATION_STATUS_FILE.head()

  Division_Data  MI COMPLETED
0       BETTIAH       29171.0
1      MOTIHARI       39522.0
2     SHERGHATI        7209.0
3          GAYA        3430.0
4          BARH        6345.0

# 2

In [19]:
ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['REPLACEMENT DATE'])
yesterday = datetime.now() - timedelta(days=1)
yesterday_date = yesterday.date()
ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR_YESTERDAY_DATA = ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR[ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['REPLACEMENT DATE'].dt.date == yesterday_date]
ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR_YESTERDAY_DATA['REPLACEMENT DATE'].unique()

C:\Users\Ratan Kumar Jha\AppData\Local\Temp\ipykernel_17016\489026525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['REPLACEMENT DATE'] = pd.to_datetime(ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['REPLACEMENT DATE'])

<DatetimeArray>
[]
Length: 0, dtype: datetime64[ns]

In [20]:
MI_YESTERDAY = ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR_YESTERDAY_DATA.groupby('DIVISION')['FULL_METER_NUMBER'].count()

METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,MI_YESTERDAY,left_on=['Division_Data'],right_on=['DIVISION'],how='left')

METER_INSTALLATION_STATUS_FILE.rename(columns={'FULL_METER_NUMBER':'YESTERDAY MI'},inplace=True)

In [21]:
METER_INSTALLATION_STATUS_FILE

   Division_Data  MI COMPLETED  YESTERDAY MI
0        BETTIAH       29171.0           NaN
1       MOTIHARI       39522.0           NaN
2      SHERGHATI        7209.0           NaN
3           GAYA        3430.0           NaN
4           BARH        6345.0           NaN
..           ...           ...           ...
77      JAINAGAR        2531.0           NaN
78         PUPRI        2578.0           NaN
79       BENIPUR        3845.0           NaN
80         DHAKA           NaN           NaN
81        BARSOI          89.0           NaN

[82 rows x 3 columns]

# 3

In [22]:
# SELECT ONLY THOSE FILE WHERE STATUS IS CLOSED

ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR_STATUS_CLOSED = ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR[ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR['STATUS']=='Closed']

In [23]:
WORKORDER_CLOSED = ALL_DATA_COMPILATION_MERGE_WITHOUR_SSR_STATUS_CLOSED.groupby('DIVISION')['FULL_METER_NUMBER'].count()

METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,WORKORDER_CLOSED,left_on=['Division_Data'],right_on=['DIVISION'],how='left')

METER_INSTALLATION_STATUS_FILE.rename(columns={'FULL_METER_NUMBER':'WORK ORDER'},inplace=True)

In [24]:
METER_INSTALLATION_STATUS_FILE

   Division_Data  MI COMPLETED  YESTERDAY MI  WORK ORDER
0        BETTIAH       29171.0           NaN     28730.0
1       MOTIHARI       39522.0           NaN     39097.0
2      SHERGHATI        7209.0           NaN      7101.0
3           GAYA        3430.0           NaN      3417.0
4           BARH        6345.0           NaN      6307.0
..           ...           ...           ...         ...
77      JAINAGAR        2531.0           NaN      2499.0
78         PUPRI        2578.0           NaN      2505.0
79       BENIPUR        3845.0           NaN      3804.0
80         DHAKA           NaN           NaN         NaN
81        BARSOI          89.0           NaN        80.0

[82 rows x 4 columns]

# 4

In [89]:
Division_wise_Meter_Status.head(1)

,SECTION,DIVISION,SUB-DIVISION,CUSTOMER NUMBER,MOBILE,METER_NUMBER,STATUS_CD,CONNECTED,COMMISSIONING,COMMISSIONING_TIME,COMMUNICATING,COMMUNICATING_TIME,CATEGORY,UTILITY,LASTUPDTIME
0,Sec-Saharsa (E),SAHARSA,Saharsa (U),402370522,9608042126,LNTLT1097986,Installed,Y,NaN,6/12/2024 6:52:56 PM,NaN,6/12/2024 6:52:56 PM,DS-IID,NBPDCL,2024-06-14 03:26:14

In [92]:
INSTALLED_IN_MDMS = Division_wise_Meter_Status.groupby('DIVISION')['METER_NUMBER'].count()

METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,INSTALLED_IN_MDMS,left_on=['Division_Data'],right_on=['DIVISION'],how='left')

METER_INSTALLATION_STATUS_FILE.rename(columns={'METER_NUMBER':'INSTALLED IN MDMS'},inplace=True)

In [93]:
METER_INSTALLATION_STATUS_FILE.head()

  Division_Data  MI COMPLETED  YESTERDAY MI  WORK ORDER  INSTALLED IN MDMS
0       BETTIAH       29171.0           NaN     28730.0            31700.0
1      MOTIHARI       39522.0           NaN     39097.0            42205.0
2     SHERGHATI        7209.0           NaN      7101.0             7364.0
3          GAYA        3430.0           NaN      3417.0             3440.0
4          BARH        6345.0           NaN      6307.0             6351.0

# 5

In [96]:
#  DIVISION WISE METER STATUS COMMUNICATING  = 'YES'

Division_wise_Meter_Status_communicating_Y = Division_wise_Meter_Status[Division_wise_Meter_Status['COMMUNICATING']== 'Y']

In [99]:
METER_START_COMMUNICATING_MDMS =  Division_wise_Meter_Status_communicating_Y.groupby('DIVISION')['METER_NUMBER'].count()
METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,METER_START_COMMUNICATING_MDMS,left_on=['Division_Data'],right_on=['DIVISION'],how='left')
METER_INSTALLATION_STATUS_FILE.rename(columns={'METER_NUMBER':'METER START COMMUNICATING (MDMS) '},inplace=True)

In [100]:
METER_INSTALLATION_STATUS_FILE.head()

,Division_Data,MI COMPLETED,YESTERDAY MI,WORK ORDER,INSTALLED IN MDMS,METER START COMMUNICATING (MDMS)
0,BETTIAH,29171.0,NaN,28730.0,31700.0,31433.0
1,MOTIHARI,39522.0,NaN,39097.0,42205.0,41829.0
2,SHERGHATI,7209.0,NaN,7101.0,7364.0,7256.0
3,GAYA,3430.0,NaN,3417.0,3440.0,3306.0
4,BARH,6345.0,NaN,6307.0,6351.0,6229.0

# 6

In [101]:
FINAL_INFRA_NB_SB_DATA.head(1)

,InstallationDatetime,EntryDatetime,Utility,UtilitySiteId,UtilityDeviceId,SerialNumber,LastS05,LastS02,LastS04,CoordinateX,CoordinateY,StateName,Ip,FULL_METER_NUMBER_INFRA,DIVISION,CATEGORY NAME,FULL_METER_NUMBER
0,2024-01-03 22:49:59,2023-10-24 22:04:41,NBPDCL,5001461671,LNTLT8069351,LT8069351,2024-06-14,NaT,2024-06-01,85.12826,25.58438,Imported&&Installed,2405:0203:0535:37E5:0000:0000:0000:0010,LNTLT8069351,GARDANIBAGH,DS-IID,LNTLT8069351

In [103]:
INSTALLED_IN_HES = FINAL_INFRA_NB_SB_DATA.groupby('DIVISION')['FULL_METER_NUMBER_INFRA'].count()
METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,INSTALLED_IN_HES,left_on=['Division_Data'],right_on=['DIVISION'],how='left')
METER_INSTALLATION_STATUS_FILE.rename(columns={'FULL_METER_NUMBER_INFRA':'INSTALLED IN HES'},inplace=True)

In [104]:
METER_INSTALLATION_STATUS_FILE.head()

,Division_Data,MI COMPLETED,YESTERDAY MI,WORK ORDER,INSTALLED IN MDMS,METER START COMMUNICATING (MDMS),INSTALLED IN HES
0,BETTIAH,29171.0,NaN,28730.0,31700.0,31433.0,31765.0
1,MOTIHARI,39522.0,NaN,39097.0,42205.0,41829.0,42317.0
2,SHERGHATI,7209.0,NaN,7101.0,7364.0,7256.0,7362.0
3,GAYA,3430.0,NaN,3417.0,3440.0,3306.0,3440.0
4,BARH,6345.0,NaN,6307.0,6351.0,6229.0,6366.0

# 7

In [105]:
Meter_Replacement.head(1)

,UDC_ID,SDP_UDC_ID,STATUS,DESCRIPTION,LAST_UPD_TIME,DIVISION_NAME,CATEGORY,UTILITY
0,LNTLT0944944,nmi_5003264535_wrng,PENDING,(sent on 2024-06-13),6/13/2024 11:00:41 PM,NEW CAPITAL,DS-IID,SBPDCL

In [106]:
MR_SENT = Meter_Replacement.groupby('DIVISION_NAME')['UDC_ID'].count()
METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,MR_SENT,left_on=['Division_Data'],right_on=['DIVISION_NAME'],how='left')
METER_INSTALLATION_STATUS_FILE.rename(columns={'UDC_ID':'MR SENT'},inplace=True)

In [107]:
METER_INSTALLATION_STATUS_FILE.head(1)

,Division_Data,MI COMPLETED,YESTERDAY MI,WORK ORDER,INSTALLED IN MDMS,METER START COMMUNICATING (MDMS),INSTALLED IN HES,MR SENT
0,BETTIAH,29171.0,NaN,28730.0,31700.0,31433.0,31765.0,32021.0

# 8

In [109]:
Meter_Replacement_SUCCESS = Meter_Replacement[Meter_Replacement['STATUS']=='SUCCESS']

In [112]:
MR_SUCCESS = Meter_Replacement_SUCCESS.groupby('DIVISION_NAME')['UDC_ID'].count()
METER_INSTALLATION_STATUS_FILE = pd.merge(METER_INSTALLATION_STATUS_FILE,MR_SUCCESS,left_on=['Division_Data'],right_on=['DIVISION_NAME'],how='left')
METER_INSTALLATION_STATUS_FILE.rename(columns={'UDC_ID':'MR SUCCESS'},inplace=True)

In [113]:
METER_INSTALLATION_STATUS_FILE.head()

,Division_Data,MI COMPLETED,YESTERDAY MI,WORK ORDER,INSTALLED IN MDMS,METER START COMMUNICATING (MDMS),INSTALLED IN HES,MR SENT,MR SUCCESS
0,BETTIAH,29171.0,NaN,28730.0,31700.0,31433.0,31765.0,32021.0,31619.0
1,MOTIHARI,39522.0,NaN,39097.0,42205.0,41829.0,42317.0,42973.0,41158.0
2,SHERGHATI,7209.0,NaN,7101.0,7364.0,7256.0,7362.0,7436.0,7434.0
3,GAYA,3430.0,NaN,3417.0,3440.0,3306.0,3440.0,3442.0,3428.0
4,BARH,6345.0,NaN,6307.0,6351.0,6229.0,6366.0,6431.0,6414.0